/* :root{
    --main-color: #009; 
    --fs: 18 px;
    --main-border : 4px solid #000 ;
} */


/* ----------- start media query ----------- */

/* @media screen and (max-width:576px) {
    
} */
/* @media screen and (min-width:577px) and (max-width:768px){

} */
/* @media screen and (min-width:769px) and (max-width:992px){
    
} */

/* @media screen and (min-width:992px) and (max-width:1200px){
    
} */



/* ----------- End media query ----------- */

